html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.banner {
  overflow: hidden;
  position: relative;
  max-height: 500px;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 45em;
  width: 100%;
  padding-top: .5em;
}

h2, a {
  font-family: "Roboto Condensed", sans-serif;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

p {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1em;
  padding-top: .5em;
}

a {
  text-decoration: none;
  border-radius: 8px;
  padding: .5em .75em;
}

.btn {
  background-color: #333;
  color: #fff;
  border-width: 3px;
  border-style: solid;
  border-color: #333;
}

.btn-big {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.hero {
  width: 33%;
  margin: 1em;
  margin-top: -1em;
}

.words {
  width: 57%;
  margin: 1em;
  margin-top: -1em;
}
